<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <p>Welcome to <%= repoName %>.</p>
  <form action="/test/submit" method="post">
  	<input type="text" name="repoName">
  	<button type="submit">Get repo!</button>
  </form>
  <body>
    <h1>D3 Server-side Demo</h1>
    <%-
      barChartHelper.getBarChart({
        data: fixtureData,
        width: 400,
        height: 300,
        xAxisLabel: '2012',
        yAxisLabel: 'Views',
        containerId: 'bar-chart-small'
      })
    %>
    <hr>
    <%-
      sample.sample(csvString);
    %>
    <hr>
    <%-
      line.getLine(csvString);
    %>
  </body>
</html>
