<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <p>Welcome to <%= repoName %>.</p>
  <form action="/test/submit" method="post">
  	<input type="text" name="repoName">
  	<button type="submit">Get repo!</button>
  </form>
  <body>
    <h1>D3 Server-side Demo</h1>
    <hr>
    <%-
      //sample.sample(csvString);
    %>
    <hr>
    <%-
      //line.getLine(csvString);
    %>
    <hr>
    <h2>Date axis test</h2>
    <%-
      line.getDateLine(csvArr);
    %>
  </body>
</html>
